.products{
    display: flex;
    flex-wrap: wrap;
    
}

.display-item{
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    margin:5px;
    min-width: 200px;
    min-height: 300px;
    padding: 5px;
}

.cart-count{
    width: 50px;
    text-align: center;
}

.cart{
    text-align: center;
}